:root {
  --accent-color: #8e32c6;
  --main-color: #ffffff;
  --background-colour: #012d63;
  --bg-dark-blue: #021635;
  --add-grey: #959595;
  --add-dark-white: #dcdcdc;
  --add-dark-gray: #d8d8d8;
  --add-colour: #c7c7c7;
}

.body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: var(--background-colour);
  padding-top: 16px;
  padding-bottom: 17px;
}

.header>.container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 152px;
}

.nav-list {
  display: flex;
  gap: 29px;
}

.nav-item-link {
  color: var(--add-colour);
  font-size: 23px;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.nav-item-link:focus,
.nav-item-link:hover {
  color: var(--main-color);
  font-weight: 400;
}

.language-list {
  display: flex;
  margin-left: auto;
}

.language-item-btn {
  color: var(--main-color);
  background-color: var(--background-colour);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  border: none;
}

.language-item-btn:focus,
.language-item-btn:hover {
  color: var(--add-dark-white);
  cursor: pointer;
}

.promotion {
  background-image: url("../images/background/bg_img1.jpg");
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 182px;
  background-size: cover;
}

.promotion-logo {
  width: 160px;
  margin-left: 5px;
}

.promotion-logo-text {
  height: 86px;
  color: var(--main-color);
  font-family: PT Serif;
  font-size: 48px;
  line-height: normal;
  margin-left: 30px;
  margin-top: -25px;
}

.promotion-title {
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
  margin-left: -5px;
}

.promotion-subtitle {
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
  line-height: normal;
}

.promotion-text {
  color: var(--main-color);
  font-size: 18px;
  line-height: normal;
  margin-top: 12px;
}

.promotion-btn {
  color: var(--main-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-size: 24px;
  line-height: normal;
  border-radius: 10px;
  height: 67px;
  border: none;
  padding: 20px 61px;
  text-align: center;
  margin-top: 41px;
}

.promotion-btn:focus,
.promotion-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.used {
  background-image: url(../images/background/bg_img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 105px;
  padding-bottom: 105px;
}

.used-list {
  display: flex;
  justify-content: center;
}

.used-list {
  border: 5px solid var(--accent-color);
}

.used-item {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.used-item:nth-child(2) {
  padding-right: 95px;
  padding-left: 95px;
  margin-top: 25px;
  margin-bottom: 19px;
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.used-item-title:nth-child(1),
.used-item-title:nth-child(3) {
  margin-bottom: 5px;
}

.used-item-title:nth-child(2) {
  margin-top: 10px;
}

.used-item-title {
  color: var(--main-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}

.reviews {
  background-image: url(../images/flowers/flowers.svg),
    url(../images/background/bg_img3.jpg);
  background-repeat: no-repeat;
  background-size: 250px, cover;
  background-position: left bottom;
  padding-top: 24px;
  padding-bottom: 114px;

}

.reviews-title {
  color: var(--main-color);
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}

.reviews-list {
  display: flex;
  justify-content: center;
  gap: 93px;
}

.reviews-item {
  border-radius: 15px;
  padding: 49px 9px 30px 18px;
  flex-basis: 255px;
}

.reviews-item:nth-child(1) {
  background-image: linear-gradient(137deg,
      #00e5e6 7.29%,
      #00a8f7 26.04%,
      #9a76f9 62.5%,
      #cc5ec2 100%);
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.reviews-item:nth-child(2) {
  background-image: linear-gradient(137deg,
      #ff68b4 0%,
      #ff45e1 26.04%,
      #ce3aff 62.84%,
      #8961ff 100%);
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.reviews-item:nth-child(3) {
  background-image: linear-gradient(143deg,
      #ffe128 0%,
      #ff9b5c 30.21%,
      #ff8381 63.29%,
      #ff5489 100%);
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}

.reviews-item-text {
  color: var(--main-color);
  font-size: 24px;
  line-height: normal;
}

.reviews-item-data {
  color: var(--add-dark-gray);
  font-size: 14px;
  line-height: normal;
  margin-top: 8px;
  margin-bottom: 35px;
}

.reviews-container {
  display: flex;
  gap: 5px;
}

.reviews-item-title {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.reviews-item-year {
  color: var(--add-dark-gray);
  font-size: 12px;
  line-height: normal;
  margin-top: 1px;
}

.order {
  background-image: url(../images/background/bg_img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 21px;
  padding-bottom: 37px;
}

.order-title {
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 33px;
}

.order-form-container {
  width: 580px;
  margin: 0 auto;
}

.order-input {
  padding: 12px 25px 13px;
  width: 100%;
}

.order-input::placeholder {
  color: var(--add-grey);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.order-input {
  font-size: 28px;
  width: 580px;
  height: 50px;
  border: none;
  outline: none;
}

.order-input {
  border-radius: 50px;
  margin-bottom: 19px;
}

.order-input:hover,
.order-input:focus {
  border-color: var(--accent-color);
  transform: scale(1.2);
  cursor: pointer;
}

.confirm-container {
  position: relative;

}

.confirm-btn {
  border: none;
  color: #8D8D8D;
  font-family: Roboto;
  font-size: 28px;
  line-height: normal;
  background: none;
  position: sticky;
  position: absolute;
  bottom: 25px;
  right: 65px;
}

.confirm-btn:focus,
.confirm-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.order-btn {
  color: var(--main-color);
  background-color: var(--accent-color);
  border-radius: 16px;
  width: 248px;
  height: 68px;
  font-family: Roboto;
  font-size: 24px;
  margin: 0 auto;
  border: none;
  padding: 20px 48px;
  display: block;
}

.order-btn:focus,
.order-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  background-color: var(--bg-dark-blue);
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer-content-adress {
  border-bottom: 1px solid;
  color: #9B9B9B;
  padding-bottom: 20px;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.footer-item:nth-child(3) {
  margin-bottom: 0;
}

.footer-item-text {
  color: var(--main-color);
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.footer-item-link {
  color: var(--main-color);
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  padding-bottom: 10px;
}

.footer-item-link:focus,
.footer-item-link:hover {
  opacity: 0.8;
}

.footer-text {
  color: var(--main-color);
  font-size: 18px;
  line-height: normal;
}

.footer-text:not(:last-child) {
  margin-bottom: 7px;
}

.logo-footer-container {
  width: 108px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-text {
  color: var(--main-color);
  font-family: PT Serif;
  font-size: 24px;
  line-height: normal;
  margin-left: 20px;
}